<h1>Home Page</h1>



<h1>Featured Products</h1>

<div class="row w-100per m-0px">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let product of featuredprocessors">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"processors"'
            routerLink="/description/processors/{{product.id!}}">
        </product>
    </div>        

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredcases">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"cases"'
            routerLink="/description/cases/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"
        *ngFor="let product of featuredcoolers">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"coolers"'
            routerLink="/description/coolers/{{product.id!}}">
        </product>
    </div>  
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredgpus">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"gpu"'
            routerLink="/description/gpu/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredhdds">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"hdds"'
            routerLink="/description/hdds/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredm2s">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"processors"'
            routerLink="/description/m2s/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredmotherboards">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"motherboards"'
            routerLink="/description/motherboards/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredpowersupplys">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"powersupplies"'
            routerLink="/description/powersupplies/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredrams">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"rams"'
            routerLink="/description/rams/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredssds">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"ssds"'
            routerLink="/description/ssds/{{product.id!}}">
        </product>
    </div> 
</div>