<div class="first-view">
    <div *ngIf="showSquare" class="square">

    </div>
    <div *ngIf="showGadget" class="gadget processor">
        <img src="../../../assets/images/processor.svg" width="100px" height="100px" alt="processor">
    </div>
    <div *ngIf="showGadget" class="gadget graphicscard">
        <img src="../../../assets/images/graphics-card.svg" width="100px" height="100px" alt="gc">
    </div>
    <div *ngIf="showGadget" class="gadget keyboard">
        <img src="../../../assets/images/key-board.svg" width="100px" height="100px" alt="keyboard">
    </div>
    <div *ngIf="showGadget" class="gadget harddisc">
        <img src="../../../assets/images/hard-disk.svg" width="100px" height="100px" alt="harddisk">
    </div>
</div>

<h1>Home Page</h1>



<h1>Featured Products</h1>

<div class="row w-100per m-0px">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let product of featuredprocessors">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"processors"'
            [product]='product'
            routerLink="/description/processors/{{product.id!}}">
        </product>
    </div>        

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredcases">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"cases"'
            [product]='product'
            routerLink="/description/cases/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"
        *ngFor="let product of featuredcoolers">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"coolers"'
            [product]='product'
            routerLink="/description/coolers/{{product.id!}}">
        </product>
    </div>  
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredgpus">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"gpu"'
            [product]='product'
            routerLink="/description/gpu/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredhdds">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"hdds"'
            [product]='product'
            routerLink="/description/hdds/{{product.id!}}">
        </product>
    </div>  

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredm2s">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"processors"'
            [product]='product'
            routerLink="/description/m2s/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredmotherboards">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"motherboards"'
            [product]='product'
            routerLink="/description/motherboards/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredpowersupplys">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"powersupplies"'
            [product]='product'
            routerLink="/description/powersupplies/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredrams">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"rams"'
            [product]='product'
            routerLink="/description/rams/{{product.id!}}">
        </product>
    </div> 

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" 
        *ngFor="let product of featuredssds">
        <product 
            *ngIf="product.basic" 
            [id]="product.id!"
            [type]='"ssds"'
            [product]='product'
            routerLink="/description/ssds/{{product.id!}}">
        </product>
    </div> 
</div>