<div class="w-100per" *ngIf="processor.basic">
    <div class="img" *ngIf="processor.basic.images && processor.basic.images.length > 0">        
        <img [src]="processor.basic.images[0].src" alt="processor.basic.images[0].alt">               
    </div>
    <div class="no-image"  *ngIf="processor.basic.images && processor.basic.images.length == 0">
        No Image Found
    </div>
    <div class="productname">
        {{processor.basic.name}}
    </div>
    <div class="price">
        {{processor.basic.regular_price | currency:"&#8377;"}}
    </div>
</div>
