// @media (max-width:768px){
//     .img,img{
//         width: 100%;
//         height: 150px;
//     }
// }


// @media(min-width:769px) and (max-width:992px ){
//     .img,img{
//         width: 100%;
//         height: 220px;
//     }
// }
// @media (min-width:992px ){
//     .img,img{
//         width: 100%;
//         height: 300px;
//     }
// }


.cardcontainer {
    // width: 50%;
    // display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card {
    transform-style: preserve-3d;
    //min-height: 80vh;
    // width: 18rem;
    width: 220px;
    /* border-radius: 30px; */
    padding: 10px;
    // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    border: none;
  }
  
  .productimg {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus{
      outline: unset;
    }
  }
  .productimg img {
    width: 150px;
    height: 150px;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 90%;
    height: 20%;
    /* background: linear-gradient(
      to right,
      rgba(245, 70, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    ); */
    //background-image: url(../../../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
  }
  
  .info {
    
    h1 {
      font-size: 16px;
      height: 50px;
      padding-top: 20px;
      transition: all 0.75s ease-out;
      background: transparent;
      text-align: center;
    }
    h3 {
      font-size: 1rem;
      padding: 1rem 0rem;
      color: #585858;
      font-weight: lighter;
      transition: all 0.75s ease-out;
      background: transparent;
    }
    
    &:focus{
      outline: unset;
    }
  }
  .price{
    font-size: 14px;
    transition: all 0.75s ease-out;
    background: transparent;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin-top: 2rem;
    transition: all 0.75s ease-out;
    text-align: center;
  }
  .purchase button {
    width: 90%;
    padding: 9px;
    background: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    /* border-radius: 30px; */
    font-weight: 500;
    font-size: 14px;
  }

  .fa-shopping-cart{
    background: transparent;
    color: #ffffff;
  }