<div class="w-100per" *ngIf="productAvailable">   
    <button (click)="removeFromCart()">remove</button>
    <div class="img">        
        <img width="100px" height="100px" loading="lazy" [src]="image" alt="No Image found">               
    </div>
    <button (click)="updateQuantity(cartcount-1)">-1</button>
    <h5>{{product_name}}</h5>
    <button (click)="addToCart()">+1</button>
    <div>
        {{regularprice | currency:"&#8377;"}}
    </div>
    <div>
        CART Count: {{cartcount}}
    </div>
</div> 