// a {
//     color: var(--font-color);
//     width: 30%;
//   }
  
//   /* header */
  
//   .header {
//     background-color: var(--bg-color);
//     box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
//     position: sticky;
//     width: 100%;
//     z-index: 3;
//     height: 65px;
//   }
  
//   .header ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     overflow: hidden;
//     background-color: var(--bg-color);;
//   }
  
//   .header li a {
//     display: block;
//     padding: 20px 20px;
//     border-right: 1px solid var(--bg-color);;
//     text-decoration: none;
//   }
  
//   .header li a:hover,
//   .header .menu-btn:hover {
//     background-color: var(--bg-color);
//   }
  
//   .header .logo {
//     display: block;
//     float: left;
//     font-size: 2em;
//     padding: 10px 20px;
//     text-decoration: none;
//   }
  
//   /* menu */
  
//   .header .menu {
//     clear: both;
//     max-height: 0;
//     transition: max-height .2s ease-out;
//   }
  
//   /* menu icon */
  
//   .header .menu-icon {
//     cursor: pointer;
//     display: inline-block;
//     float: right;
//     padding: 28px 20px;
//     position: relative;
//     user-select: none;
//   }
  
//   .header .menu-icon .navicon {
//     background: var(--font-color);
//     display: block;
//     height: 2px;
//     position: relative;
//     width: 18px;
//   }
  
//   .header .menu-icon .navicon:before,
//   .header .menu-icon .navicon:after {
//     background: var(--font-color);
//     content: '';
//     display: block;
//     height: 100%;
//     position: absolute;
//     transition: all .2s ease-out;
//     width: 100%;
//   }
  
//   .header .menu-icon .navicon:before {
//     top: 5px;
//   }
  
//   .header .menu-icon .navicon:after {
//     top: -5px;
//   }
  
//   /* menu btn */
  
//   .header .menu-btn {
//     display: none;
//   }
  
//   .header .menu-btn:checked ~ .menu {
//     max-height: 240px;
//   }
  
//   .header .menu-btn:checked ~ .menu-icon .navicon {
//     background: transparent;
//   }
  
//   .header .menu-btn:checked ~ .menu-icon .navicon:before {
//     transform: rotate(-45deg);
//   }
  
//   .header .menu-btn:checked ~ .menu-icon .navicon:after {
//     transform: rotate(45deg);
//   }
  
//   .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
//   .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
//     top: 0;
//   }
  
//   /* 48em = 768px */
  
//   @media (min-width: 48em) {
//     .header li {
//       float: left;
//     }
//     .header li a {
//       padding: 20px 30px;
//     }
//     .header .menu {
//       clear: none;
//       float: right;
//       max-height: none;
//     }
//     .header .menu-icon {
//       display: none;
//     }
//   }

//   ///****** Toggle switch    ******///

//   .theme-switch-wrapper {
//     display: inline-block;
//     align-items: center;
  
//     span {
//       margin-left: 10px;
//       font-size: 0.6rem;
//     }
//   }
//   .theme-switch {
//     display: inline-block;
//     height: 30px;
//     position: relative;
//     width: 56px;
//   }
  
//   .theme-switch input {
//     display:none;
//   }
  
//   .slider {
//     background-color: #ccc;
//     bottom: 0;
//     cursor: pointer;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     transition: .4s;
//   }
  
//   .slider:before {
//     background-color: #fff;
//     bottom: 4px;
//     content: "";
//     height: 22px;
//     left: 4px;
//     position: absolute;
//     transition: .4s;
//     width: 22px;
//   }
  
//   input:checked + .slider {
//     background-color: var(--primary-color);
//   }
  
//   input:checked + .slider:before {
//     transform: translateX(22px);
//   }
  
//   .slider.round {
//     border-radius: 30px;
//   }
  
//   .slider.round:before {
//     border-radius: 50%;
//   }
  


a {
  color: var(--font-color);
  width: 100%;
}

/* header */

.header {
  background-color: var(--primary-color);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: sticky;
  width: 100%;
  z-index: 3;
  // height: 65px;
  height: 170px;  
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid var(--bg-color);
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--bg-color);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  position: absolute;
  background-image: url(../../../assets/images/logo-white.svg);
  width: 300px;
  height: 200px;
  transform: scale(2);
  background-position: center;
  left: 30px;

  &.dark{
    background-image: url(../../../assets/images/logo-dark.svg);
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--font-color);
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--font-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    // float: right;
    float: right;
    width: 66%;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .search{
    float: left;
    margin-left: 30%;
    width: 50%;
  }
  .header .logo{
    &::after{
      content: "";
      position: absolute;
      padding-top: 30px;
      background-color: var(--bg-color);
      height: 133px;
      width: 15px;
      left: 82%;
      top: 27px;
      transform: rotate(45deg);
    }
  }
}

///****** Toggle switch    ******///

.theme-switch-wrapper {
  display: inline-block;
  align-items: center;

  span {
    margin-left: 10px;
    font-size: 0.6rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 56px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 22px;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}


.main-logo{
  padding-left: 35px;
  display: inline;
  background-color: transparent;  
  img{
    width: 175px;
    background: transparent;   
    margin-top: 10px;
  }
}


//*****************************************************//
.header2 {
  //background-color: var(--gray-color);
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 80px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: var(--bg-color);
    //background-color: var(--gray-color);
    background: transparent;
    display: flex;
    float: right;
    li{ 
      background: transparent;
      a {
      display: block;
      padding: 20px 40px;
      //border-right: 1px solid var(--gray-color);
      text-decoration: none;
      //background-color: var(--gray-color);
      background: transparent;
      color: var(--bg-color);

        &:hover{
          background: var(--primary-color);
        }
      }
    }
  }
  
}

