<!-- {{processor | json}} -->
<!-- <div *ngFor="let item of processor | keyvalue">
    {{item.key}}:{{item.value}}
</div> -->
<div class="breadcrumbs">
    <a routerLink="/inventory">Inventory</a> >> <a [routerLink]="['/category/'+ selectedtype ]">{{selectedtype}}</a>  >> {{productname}}  
</div>
<div class="continer-fluid">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="product-image">
                <img loading="lazy" [src]="image" alt="image">
            </div>
            <div *ngIf="imagesarray.length>0" class="imgcollection">
                <div class="productimges" *ngFor="let img of imagesarray">
                    <img [src]="img" alt="not available" (click)="this.image=img">
                </div>                
            </div>

            <h3>Reviews</h3>
            <hr>
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>              
            <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [max]="5"></ngb-rating>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Submit Review</button>

        </div>
        <div class="col-md-6 col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of display_product | keyvalue">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>   
            </table>
        </div>
    </div>
</div>

