.product-image{
    padding: 76px 101px;
    img{
        width: 300px;
        height: 300px;
        margin-left: 68px;
    }
}
@media (max-width:1000px) {
    .product-image{
        padding: 0px;
    }
    table{
        margin-left: 0px;
    }
}
table{
    margin-top: 74px;
    margin-left: 40px;
    th:nth-child(1){
        width: 40%;
    }
    th:nth-of-type(2){
        width: 60%
    }
    td{
        word-break: break-all;
    }
}
.breadcrumbs{
    color: var(--primary-color);
    margin-top: 70px;    
    padding-left: 38px;
}

.imgcollection{
    display: flex;
    overflow: auto;
    .productimges {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 20px;
        img{
            width: 100px;
            height: 100px; 
        }
    
    }
}