<div class="container-fluid">    
    <h3>Processors</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let processor of processors">
           <product 
                *ngIf="processor.basic" 
                [id]="processor.id!"
                [type]='"processors"'
                routerLink="/processor/{{processor.id!}}">

           </product>        
        </div>        
    </div>

    <h3>Case</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let case of cases">
            <!-- {{cases | json}} -->
            <product 
                *ngIf="case.basic" 
                [id]="case.id!"
                [type]='"cases"'>
            </product>           
        </div>
    </div>

    <h3>Cooler</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let cooler of coolers">
            <!-- {{coolers | json}} -->
            <product 
            *ngIf="cooler.basic" 
            [id]="cooler.id!"
            [type]='"coolers"'>
        </product>  
        </div>
    </div>

    <h3>GPU</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let gpu of gpus">
            <!-- {{gpu | json}} -->
            <product 
            *ngIf="gpu.basic" 
            [id]="gpu.id!"
            [type]='"gpu"'>
        </product>  
        </div>
    </div>
    <h3>HDD</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let hdd of hdds">
            <!-- {{hdd | json}} -->
            <product 
            *ngIf="hdd.basic" 
            [id]="hdd.id!"
            [type]='"hdds"'>
        </product> 
        </div>
    </div>
    <h3>M2s</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let m2 of m2s">
            <!-- {{hdd | json}} -->
            <product 
            *ngIf="m2.basic" 
            [id]="m2.id!"
            [type]='"m2s"'>
        </product> 
        </div>
    </div>
    <h3>Mother Board</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let motherboard of motherboards">
            <!-- {{motherboard | json}} -->
            <product 
            *ngIf="motherboard.basic" 
            [id]="motherboard.id!"
            [type]='"motherboards"'>
        </product> 
        </div>
    </div>

    <h3>Power Supplies</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let powersupply of powersupplys">
            <!-- {{powersupply | json}} -->
            <product 
            *ngIf="powersupply.basic" 
            [id]="powersupply.id!"
            [type]='"powersupplies"'>
        </product> 
        </div>
    </div>
    <h3>RAM</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let ram of rams">
            <!-- {{ram | json}} -->
            <product 
            *ngIf="ram.basic" 
            [id]="ram.id!"
            [type]='"rams"'>
        </product> 
        </div>
    </div>
    <h3>SSD</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let ssd of ssds">
            <!-- {{ssd | json}} -->
            <product 
            *ngIf="ssd.basic" 
            [id]="ssd.id!"
            [type]='"ssds"'>
        </product> 
        </div>
    </div>
</div>
