<div class="container-fluid">    
    <h3>Processors</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let processor of processors">
           <product 
                *ngIf="processor.basic" 
                [id]="processor.id!"
                [type]='"processors"'
                [prdctdescription]='processor.core + " CORE "+  processor.thread +" THREAD"'
                (addToCartEvent)="addToCart($event)"
                >

           </product>        
        </div>        
    </div>

    <h3>Case</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let case of cases">
            <!-- {{cases | json}} routerLink="/description/cases/{{case.id!}}"-->
            <product 
                *ngIf="case.basic" 
                [id]="case.id!"
                [type]='"cases"'
                (addToCartEvent)="addToCart($event)"
                >
            </product>           
        </div>
    </div>

    <h3>Cooler</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let cooler of coolers">
            <!-- {{coolers | json}} routerLink="/description/coolers/{{cooler.id!}}"-->
            <product 
            *ngIf="cooler.basic" 
            [id]="cooler.id!"
            [type]='"coolers"'
            (addToCartEvent)="addToCart($event)"
            >
        </product>  
        </div>
    </div>

    <h3>GPU</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let gpu of gpus">
            <!-- {{gpu | json}} routerLink="/description/gpu/{{gpu.id!}}"-->
            <product 
            *ngIf="gpu.basic" 
            [id]="gpu.id!"
            [type]='"gpu"'
            (addToCartEvent)="addToCart($event)"
            >
        </product>  
        </div>
    </div>
    <h3>HDD</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let hdd of hdds">
            <!-- {{hdd | json}} routerLink="/description/hdds/{{hdd.id!}}"-->
            <product 
            *ngIf="hdd.basic" 
            [id]="hdd.id!"
            [type]='"hdds"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>
    <h3>M2s</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let m2 of m2s">
            <!-- {{hdd | json}} routerLink="/description/m2s/{{m2.id!}}"-->
            <product 
            *ngIf="m2.basic" 
            [id]="m2.id!"
            [type]='"m2s"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>
    <h3>Mother Board</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let motherboard of motherboards">
            <!-- {{motherboard | json}} routerLink="/description/motherboards/{{motherboard.id!}}"-->
            <product 
            *ngIf="motherboard.basic" 
            [id]="motherboard.id!"
            [type]='"motherboards"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>

    <h3>Power Supplies</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let powersupply of powersupplys">
            <!-- {{powersupply | json}} routerLink="/description/powersupplies/{{powersupply.id!}}"-->
            <product 
            *ngIf="powersupply.basic" 
            [id]="powersupply.id!"
            [type]='"powersupplies"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>
    <h3>RAM</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let ram of rams">
            <!-- {{ram | json}} routerLink="/description/rams/{{ram.id!}}"-->
            <product 
            *ngIf="ram.basic" 
            [id]="ram.id!"
            [type]='"rams"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>
    <h3>SSD</h3>
    <div class="row w-100per m-0px">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let ssd of ssds">
            <!-- {{ssd | json}} routerLink="/description/ssds/{{ssd.id!}}"-->
            <product 
            *ngIf="ssd.basic" 
            [id]="ssd.id!"
            [type]='"ssds"'
            (addToCartEvent)="addToCart($event)"
            >
        </product> 
        </div>
    </div>
</div>
