/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root {
    --primary-color: #288ACA;
    --font-color: #424242;
    --bg-color: #fff;    
    --not-compatible: #e22626;
    --gray-color: #f2f2f2;
}
.dark-mode{
    --font-color: #e1e1ff;
    --bg-color: #161625;
}
*{
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
    // font-family: 'Noto Sans JP', sans-serif;
    font-family: "Poppins", sans-serif;
}
.w-100per{
    width: 100%;
}
.m-0px{
    margin: 0px;
}

.transparent{
    background: rgba(0,0,0,0.7);
}
.modal {
    overflow-y: auto !important;
}
.not-compatible-border{
    border-color: var(--not-compatible) !important;
}
.h-100per{
    height: 100%;
}
body{
    background-color: #f4f4f4;
}